#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.thumb {
  height: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;
}

.thumb:hover {
  position: relative;
  top: -1px;
  left: -1px;
  box-shadow: 2px 2px 4px rgb(49, 49, 49);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#fullpic {
  display: block;
  padding: 30px;
  border: 1px solid gray;
  background-color: white;
}

#left,
#right {
  display: flex;
  height: 566px;
  width: 120px;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#left:hover {
  opacity: 0.4;
}

#right:hover {
  opacity: 0.4;
}
